
@font-face{font-family: "ModernRoman12"; src: url('/fonts/lmroman12-regular.otf');}
@font-face{font-family: "ModernRoman12"; src: url('/fonts/lmroman12-bold.otf'); font-weight: bold;}
@font-face{font-family: "ModernRoman12"; src: url('/fonts/lmroman12-italic.otf'); font-style: italic;}
@font-face{font-family: "ModernRoman17"; src: url('/fonts/lmroman17-regular.otf');}
@font-face{font-family: "ModernRomanMono12"; src: url('/fonts/lmmono12-regular.otf');}

a:link    { text-decoration: none; color: #0e5699; }
a:visited { text-decoration: none; color: #0e5699; }
a:hover   { text-decoration: none; color: #000000; }

body {
    font-family: 'ModernRoman12';
    font-size: 12pt;
}

p {
    text-align: justify;
    margin-top: 12px;
    margin-bottom: 12px;
}

.alternatingtab {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.alternatingtab tr {
    padding: 5px; 
    border-top: 1px solid #ddd;
}

.alternatingtab tr:nth-child(even) {
    background: #ffffff;
}

.alternatingtab tr:nth-child(odd) {
    background: #fcfcfc;
}

.alternatingtab td {
    text-align: justify;
}

.alternatingtab td:first-child {
    text-align: center;
    padding-right: 4px;
    padding-left: 4px;
    color: #333;
}

ol {
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    text-align: justify;
    margin-bottom: 5px;
}

li:last-child {
    margin-bottom: 0px;
}

h1 {
    font-family: "ModernRoman17", serif;
    font-size: 17pt;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-family: "ModernRoman17", serif;
    font-size: 14pt;
    font-weight: normal;
    text-decoration: underline;
}

#wrapper {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}

header, section {
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    text-align: center;
}

header p {
    text-align: center;
    margin-top: 3pt;
    margin-bottom: 3pt;
}

header a {
    font-family: 'ModernRomanMono12', sans-serif;
}

.pub-title {

}

.pub-title a {
    text-decoration: none;
}

.pub-authors {
    font-style: italic;
}

.pub-journal {

}

.pub-links {
    font-family: 'ModernRomanMono12', sans-serif;
}

footer {
    padding: 15px;
    text-align: right;
}

.description {
    margin: 2px 0px 2px 0px;
    font-style: italic;
    font-size: 12pt;
    color: #707070;
}
