/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');*/

@font-face {
    font-family: 'Source Sans 3';
    src: url('fonts/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fonts/SourceSans3-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fonts/SourceSans3-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('fonts/SourceSans3-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

a:link    { text-decoration: none; color: #1D699B; }
a:visited { text-decoration: none; color: #1D699B; }
a:hover   { text-decoration: none; color: #1D699B; }

@supports (font-size-adjust: 1;) {
    section {
        font-size-adjust: 0.5;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Source Sans 3", serif;
    font-weight: normal;
    font-size: 1.1em;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 20px;
}

p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    hyphens: auto;
    -moz-hyphens: auto;
    line-height: 1.6em;
}

ol {
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    text-align: justify;
    margin-bottom: 15px;
}

li:last-child {
    margin-bottom: 0px;
}

h1 {
    font-size: inherit;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-size: inherit;
    text-align: left;
    font-weight: bold;
}

header, section {
    padding-top: 10px;
    padding-bottom: 10px;
}

header p {
    text-align: left;
    margin-top: 3pt;
    margin-bottom: 0pt;
}

header a {
    font-size: 1em;
}

.pub-title, .lec-title, .conf-title  {
    font-weight: 500;
    color: black;
    hyphens: auto;
    -moz-hyphens: auto;
    margin-bottom:0px;
}

.pub-title, .conf-title  {
    font-weight:500;
}

.pub-authors {
    font-weight:400;
    margin-top:0px;
    margin-bottom:0px;
}

.info-comm {
    font-weight:400;
    margin-top:0px;
    margin-bottom:0px;
}

.pub-journal {
    font-weight:400;
    margin-top:0px;
    margin-bottom:0px;
}
.pub-links {
    font-weight:400;
    margin-top:0px;
}
