@font-face {
  font-family: MyLocalTexGyreTermes;
  src: url(/fonts/texgyretermes-regular.otf);
}

a:link    { text-decoration: none; color: #0e5699; }
a:visited { text-decoration: none; color: #0e5699; }
a:hover   { text-decoration: none; color: #000000; }

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Tex Gyre Termes', MyLocalTexGyreTermes, serif;
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.25em;
    font-size: 1.1em;
}

p {
    text-align: justify;
    margin-top: 7px;
    margin-bottom: 7px;
    hyphens: auto;
    -moz-hyphens: auto;
}

.alternatingtab {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.alternatingtab tr {
    padding: 5px; 
    border-top: 1px solid #ddd;
}

.alternatingtab tr:nth-child(even) {
    background: #ffffff;
}

.alternatingtab tr:nth-child(odd) {
    background: #fcfcfc;
}

.alternatingtab td {
    text-align: justify;
}

.alternatingtab td:first-child {
    text-align: center;
    padding-right: 4px;
    padding-left: 4px;
    color: #333;
}

ol {
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    text-align: justify;
    margin-bottom: 5px;
}

li:last-child {
    margin-bottom: 0px;
}

h1 {
    font-size: 17pt;
    font-weight: normal;
    text-align: left;
}

h2 {
    font-size: 15pt;
    font-weight: normal;
    text-decoration: underline;
}

header, section {
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
}

header p {
    text-align: left;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

header a {
    font-size: 1em;
}

.pub-title {

}

.pub-title a {
    text-decoration: none;
    font-size: 1em;
}

.lec-title {
    text-decoration: none;
    font-size: 1em;
}

.conf-title {
    text-decoration: none;
    font-size: 1em;
}

.pub-authors {
    /*! font-style: italic; */
}

.pub-journal {

}

